framework netstandard16
source https://api.nuget.org/v3/index.json
redirects on
strategy max

nuget FSharp.Core redirects: force
nuget System.Net.Http redirects: force
nuget FAKE

github fsprojects/FsUnit src/FsUnit.NUnit/FsUnitTyped.fs

group Test
    source https://api.nuget.org/v3/index.json
    content: none
    nuget NUnit.Runners
    nuget NUnit.Console
    nuget FsUnit